<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            background: #000;
            position: relative;
          }

          div.message {
              padding: 15em;
              align-self: center;
          }
        h1,h3 {
            color:white;
            text-align: center;
            align-self: center;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
</head>
<body>
    <div class="message">
        <h1 >500</h1>
        <h3 >The page you seek returns server error</h3>
    </div>
</body>
</html>



